body {
    background-color: #c4e0e5;
    background-image: linear-gradient(152deg, #c4e0e5, #4ca1af);
    width: 100%;
    min-height: 100vh;
    background-size: cover
}

/* promena boje polja koje se unosi */

.form-control:focus {
    background-color: rgba(136, 219, 255, 0.432);
}
/* stil za los unos podataka */
.form-control:focus.bad-input,
.custom-file-input.bad-input,
.bad-input {
    border-color: rgba(255, 0, 0, 0.8);
    box-shadow: 0 0 8px rgba(255, 0, 0, 0.6);
    outline: 0 none;
}
.td-slika{
    width: 60px;
}
#unos_artikla .card{
    max-width: 200px;
}
#unos_artikla img{
    background-color: rgb(163, 128, 128);      
}
/* iskljucuje strelice kod input=number */
input[type=number].no-spinner::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
-webkit-appearance: none; 
 margin: 0; 
}